In [552]:
import pandas as pd
import re
import requests as req
import os
from dotenv import load_dotenv
load_dotenv()
from pymongo import MongoClient
import folium
from folium import plugins
from folium.plugins import MiniMap


api_key = os.environ["KEY"]

In [553]:
client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [554]:
df = db.companies

## Query Pymongo eligiendo empresas tecnológicas, con información sobre oficinas, con empleados, fundadas a partir de 2005 y que no hayan quebrado

In [555]:
companies_with_coord = pd.DataFrame(df.find(
    {'$and': 
     [
         {'$or':
          [
         {'category_code':'games_video'},
         {'category_code':'web'},
         {'category_code':'software'},
         {'category_code':'mobile'},
         {'category_code':'advertising'},
         {'category_code':'ecommerce'},
         {'category_code':'design'},
         {'category_code':'biotech'},
         {'category_code':'cleantech'},
         {'category_code':'travel'}
     ]
         },
         {"number_of_employees": 
          {'$not': 
           {'$eq': None}
          }
         },
         {"offices.latitude": 
          {'$exists': True}
         },
          {"founded_year": 
          {'$gte': 2005}
         },
         {"offices.longitude": 
          {'$exists': True}
         },
         {"offices.latitude": 
          {'$not': 
           {'$eq': None}
          }
         },
         {"offices.longitude": 
          {'$not': 
           {'$eq': None}
          }
         },
         {'deadpooled_year': 
             {'$eq' :None}
         }
     ]
    }))

In [556]:
companies_with_coord.shape

(2102, 42)

In [557]:
companies_with_coord['founded_year'].describe()

count    2102.000000
mean     2007.091342
std         1.204557
min      2005.000000
25%      2006.000000
50%      2007.000000
75%      2008.000000
max      2013.000000
Name: founded_year, dtype: float64

## Limpiando campo total_money_raised

In [558]:
letters=[]
for i in companies_with_coord['total_money_raised']:
    if re.findall('[^0-9.,]+',i) not in letters:
        letters.append(re.findall('[^0-9.,]+',i))

In [559]:
letters

[['$', 'M'],
 ['$'],
 ['$', 'k'],
 ['€', 'M'],
 ['€', 'k'],
 ['£', 'k'],
 ['£', 'M'],
 ['C$', 'k']]

In [560]:
dict_coin={
    '$' : 'USD',
    '£' : 'GBP',
    'C$' : 'CAD',
    'kr' : 'SEK',
    '€' : 'EUR'
}
coins= ['USD','GBP','CAD','SEK']

In [561]:
coindict={}
for i in coins:
    res = req.get('https://api.exchangeratesapi.io/latest')
    data = res.json()
    coindict[i] = data['rates'][i]

In [562]:
coindict

{'USD': 1.1215, 'GBP': 0.9034, 'CAD': 1.4654, 'SEK': 10.5168}

In [563]:
dict_quantity={
    '$': 1,
    'M': 1000000, 
    'B':1000000000, 
    'k': 1000, 
    '£':coindict['GBP']/coindict['USD'],  
    'C$':coindict['CAD']/coindict['USD'], 
    'kr':coindict['SEK']/coindict['USD'],
    '€':1/coindict['USD']
}

In [564]:
total_money_raised_normalized=[]
for i in companies_with_coord['total_money_raised']:
    x = float(re.findall('[0-9.]+',str(i))[0])
    y=1
    for j in re.findall('[^0-9.]+',str(i)):
        y = y* dict_quantity[j]
    total_money_raised_normalized.append(x*y)

In [565]:
len(total_money_raised_normalized)

2102

In [566]:
companies_with_coord['total_money_raised_normalized_USD']= total_money_raised_normalized

In [567]:
companies_with_coord['total_money_raised_normalized_USD'].head()

0    16500000.0
1    45000000.0
2    21000000.0
3    23400000.0
4    88700000.0
Name: total_money_raised_normalized_USD, dtype: float64

In [568]:
#companies_first_filter_2 = companies_first_filter[companies_first_filter['total_money_raised_normalized_USD']>=1000000]

In [569]:
#companies_first_filter_2.head()

## Duplicando registros de empresas con varias oficinas, creando un registro por cada oficina

In [570]:
companies_with_coord_intermediate=companies_with_coord.drop(columns='offices')

In [571]:
office_list=[]
for i in companies_with_coord['offices']:
    if not isinstance(i,list):
        office_list.append(list(i))
    else: office_list.append(i)

In [572]:
#companies_first_filter_3 = companies_first_filter_2.copy()
companies_with_coord['offices']=office_list

In [573]:
companies_with_coord['offices'].head()

0    [{'description': 'Headquarters', 'address1': '...
1    [{'description': '', 'address1': '100 5th Ave ...
2    [{'description': '', 'address1': '3525 Eastham...
3    [{'description': None, 'address1': '442 Post S...
4    [{'description': '', 'address1': '475 Park Ave...
Name: offices, dtype: object

In [574]:
companies_with_coord2 = pd.DataFrame(companies_with_coord.offices.tolist()).stack().reset_index().drop(columns='level_1')
companies_with_coord2.columns=['index','office']

In [575]:
display(companies_with_coord2.head())

   index                                             office
0      0  {'description': 'Headquarters', 'address1': '9...
1      1  {'description': '', 'address1': '100 5th Ave F...
2      2  {'description': '', 'address1': '3525 Eastham ...
3      3  {'description': None, 'address1': '442 Post St...
4      4  {'description': '', 'address1': '475 Park Ave ...

In [576]:
companies_with_coord.reset_index(inplace=True)

In [577]:
companies_with_coord.head()

,index,_id,acquisition,acquisitions,alias_list,blog_feed_url,blog_url,category_code,competitions,created_at,...,products,providerships,relationships,screenshots,tag_list,total_money_raised,twitter_username,updated_at,video_embeds,total_money_raised_normalized_USD
0,0,52cdef7c4bab8bd675297d91,"{'price_amount': None, 'price_currency_code': ...",[],,http://blog.geni.com/index.rdf,http://blog.geni.com,web,"[{'competitor': {'name': 'Ancestry', 'permalin...",Thu May 31 19:52:34 UTC 2007,...,"[{'name': 'Geni', 'permalink': 'geni'}]",[],"[{'is_past': False, 'title': 'CEO', 'person': ...",[],"geni, geneology, social, family, genealogy",$16.5M,geni,Wed Oct 10 14:01:29 UTC 2012,"[{'embed_code': '<object width=""425"" height=""3...",16500000.0
1,1,52cdef7c4bab8bd675297d9d,"{'price_amount': None, 'price_currency_code': ...",[],None,http://blog.joost.com/atom.xml,http://blog.joost.com,games_video,"[{'competitor': {'name': 'Babelgum', 'permalin...",Sat Jun 09 07:05:30 UTC 2007,...,"[{'name': 'Joost', 'permalink': 'joost'}]",[],"[{'is_past': False, 'title': 'CEO', 'person': ...",[],"iptv, babelgum, television, video, thevenicepr...",$45M,None,Fri Mar 15 23:31:11 UTC 2013,"[{'embed_code': '<object width=""425"" height=""3...",45000000.0
2,2,52cdef7c4bab8bd675297da9,None,[],,http://blog.mahalo.com/feed/,http://blog.mahalo.com/,web,"[{'competitor': {'name': 'Topicle', 'permalink...",Thu Jun 14 03:42:20 UTC 2007,...,"[{'name': 'Mahalo', 'permalink': 'mahalo'}]",[],"[{'is_past': False, 'title': 'Founder, CEO', '...",[],"search, search-engine, human-powered-search, aaa",$21M,MahaloDotCom,Fri May 17 04:34:19 UTC 2013,"[{'embed_code': '<embed src=""http://blip.tv/pl...",21000000.0
3,3,52cdef7c4bab8bd675297dab,"{'price_amount': None, 'price_currency_code': ...",[],,http://feeds.feedburner.com/kyte_blog,http://kyte.com/blog,games_video,"[{'competitor': {'name': 'Ustream', 'permalink...",Thu Jun 14 18:26:11 UTC 2007,...,"[{'name': 'Kyte', 'permalink': 'kyte'}, {'name...",[],"[{'is_past': False, 'title': 'CTO and co-found...",[],"video, mobile, iphone-app, video-platform, mob...",$23.4M,kyte,Mon Oct 28 09:34:37 UTC 2013,"[{'embed_code': '<embed src=""http://blip.tv/pl...",23400000.0
4,4,52cdef7c4bab8bd675297daf,"{'price_amount': 62500000, 'price_currency_cod...",[],,,,mobile,[],Sat Jun 16 05:53:38 UTC 2007,...,"[{'name': 'MyFree411', 'permalink': 'myfree411'}]","[{'title': 'Public Relations', 'is_past': Fals...","[{'is_past': False, 'title': 'Founder and CTO'...",[],"directoryassistance, advertising, mobile",$88.7M,Marchex,Mon Jun 03 05:26:22 UTC 2013,[],88700000.0

In [578]:
companies_with_coord_offices= companies_with_coord2.merge(companies_with_coord, how='left', on='index')

In [579]:
companies_with_coord_offices.columns

Index(['index', 'office', '_id', 'acquisition', 'acquisitions', 'alias_list',
       'blog_feed_url', 'blog_url', 'category_code', 'competitions',
       'created_at', 'crunchbase_url', 'deadpooled_day', 'deadpooled_month',
       'deadpooled_url', 'deadpooled_year', 'description', 'email_address',
       'external_links', 'founded_day', 'founded_month', 'founded_year',
       'funding_rounds', 'homepage_url', 'image', 'investments', 'ipo',
       'milestones', 'name', 'number_of_employees', 'offices', 'overview',
       'partners', 'permalink', 'phone_number', 'products', 'providerships',
       'relationships', 'screenshots', 'tag_list', 'total_money_raised',
       'twitter_username', 'updated_at', 'video_embeds',
       'total_money_raised_normalized_USD'],
      dtype='object')

In [580]:
def getFirst(data):
    data = data['office']
#    return (len(data),data[0]['latitude'],data[0]['longitude'])

    # Only create the geoJSON object if all geodata is available
    principal = None
    if data['latitude'] and data['longitude']:
        principal = {
            "type":"Point",
            "coordinates":[data['longitude'], data['latitude']]
        }

    return {
        "lat": data['latitude'],
        "lng": data['longitude'],
        "oficina_principal": principal
    }

In [581]:
companies_with_coord_offices_sub = companies_with_coord_offices[["office"]].apply(getFirst, result_type="expand", axis=1)

In [582]:
companies_with_coord_offices_sub.head()

         lat         lng                                  oficina_principal
0  34.090368 -118.393064  {'type': 'Point', 'coordinates': [-118.393064,...
1  40.746497  -74.009447  {'type': 'Point', 'coordinates': [-74.0094471,...
2  34.017606 -118.487267  {'type': 'Point', 'coordinates': [-118.487267,...
3  37.788482 -122.409173  {'type': 'Point', 'coordinates': [-122.409173,...
4  37.480999 -122.173887  {'type': 'Point', 'coordinates': [-122.173887,...

In [583]:
companies_with_coord_offices_clean = pd.concat([companies_with_coord_offices,companies_with_coord_offices_sub], axis=1)

In [584]:
companies_with_coord_offices_clean.head()

,index,office,_id,acquisition,acquisitions,alias_list,blog_feed_url,blog_url,category_code,competitions,...,screenshots,tag_list,total_money_raised,twitter_username,updated_at,video_embeds,total_money_raised_normalized_USD,lat,lng,oficina_principal
0,0,"{'description': 'Headquarters', 'address1': '9...",52cdef7c4bab8bd675297d91,"{'price_amount': None, 'price_currency_code': ...",[],,http://blog.geni.com/index.rdf,http://blog.geni.com,web,"[{'competitor': {'name': 'Ancestry', 'permalin...",...,[],"geni, geneology, social, family, genealogy",$16.5M,geni,Wed Oct 10 14:01:29 UTC 2012,"[{'embed_code': '<object width=""425"" height=""3...",16500000.0,34.090368,-118.393064,"{'type': 'Point', 'coordinates': [-118.393064,..."
1,1,"{'description': '', 'address1': '100 5th Ave F...",52cdef7c4bab8bd675297d9d,"{'price_amount': None, 'price_currency_code': ...",[],None,http://blog.joost.com/atom.xml,http://blog.joost.com,games_video,"[{'competitor': {'name': 'Babelgum', 'permalin...",...,[],"iptv, babelgum, television, video, thevenicepr...",$45M,None,Fri Mar 15 23:31:11 UTC 2013,"[{'embed_code': '<object width=""425"" height=""3...",45000000.0,40.746497,-74.009447,"{'type': 'Point', 'coordinates': [-74.0094471,..."
2,2,"{'description': '', 'address1': '3525 Eastham ...",52cdef7c4bab8bd675297da9,None,[],,http://blog.mahalo.com/feed/,http://blog.mahalo.com/,web,"[{'competitor': {'name': 'Topicle', 'permalink...",...,[],"search, search-engine, human-powered-search, aaa",$21M,MahaloDotCom,Fri May 17 04:34:19 UTC 2013,"[{'embed_code': '<embed src=""http://blip.tv/pl...",21000000.0,34.017606,-118.487267,"{'type': 'Point', 'coordinates': [-118.487267,..."
3,3,"{'description': None, 'address1': '442 Post St...",52cdef7c4bab8bd675297dab,"{'price_amount': None, 'price_currency_code': ...",[],,http://feeds.feedburner.com/kyte_blog,http://kyte.com/blog,games_video,"[{'competitor': {'name': 'Ustream', 'permalink...",...,[],"video, mobile, iphone-app, video-platform, mob...",$23.4M,kyte,Mon Oct 28 09:34:37 UTC 2013,"[{'embed_code': '<embed src=""http://blip.tv/pl...",23400000.0,37.788482,-122.409173,"{'type': 'Point', 'coordinates': [-122.409173,..."
4,4,"{'description': '', 'address1': '475 Park Ave ...",52cdef7c4bab8bd675297daf,"{'price_amount': 62500000, 'price_currency_cod...",[],,,,mobile,[],...,[],"directoryassistance, advertising, mobile",$88.7M,Marchex,Mon Jun 03 05:26:22 UTC 2013,[],88700000.0,37.480999,-122.173887,"{'type': 'Point', 'coordinates': [-122.173887,..."

In [585]:
companies_with_coord_offices_clean_final = companies_with_coord_offices_clean.drop(columns=['index','alias_list','blog_feed_url','blog_url','crunchbase_url','deadpooled_url','external_links','homepage_url','image','offices','permalink','twitter_username','video_embeds'])

In [586]:
companies_with_coord_offices_clean_final = companies_with_coord_offices_clean.drop(columns=['_id'])

In [587]:
companies_with_coord_offices_clean_final.head()

,index,office,acquisition,acquisitions,alias_list,blog_feed_url,blog_url,category_code,competitions,created_at,...,screenshots,tag_list,total_money_raised,twitter_username,updated_at,video_embeds,total_money_raised_normalized_USD,lat,lng,oficina_principal
0,0,"{'description': 'Headquarters', 'address1': '9...","{'price_amount': None, 'price_currency_code': ...",[],,http://blog.geni.com/index.rdf,http://blog.geni.com,web,"[{'competitor': {'name': 'Ancestry', 'permalin...",Thu May 31 19:52:34 UTC 2007,...,[],"geni, geneology, social, family, genealogy",$16.5M,geni,Wed Oct 10 14:01:29 UTC 2012,"[{'embed_code': '<object width=""425"" height=""3...",16500000.0,34.090368,-118.393064,"{'type': 'Point', 'coordinates': [-118.393064,..."
1,1,"{'description': '', 'address1': '100 5th Ave F...","{'price_amount': None, 'price_currency_code': ...",[],None,http://blog.joost.com/atom.xml,http://blog.joost.com,games_video,"[{'competitor': {'name': 'Babelgum', 'permalin...",Sat Jun 09 07:05:30 UTC 2007,...,[],"iptv, babelgum, television, video, thevenicepr...",$45M,None,Fri Mar 15 23:31:11 UTC 2013,"[{'embed_code': '<object width=""425"" height=""3...",45000000.0,40.746497,-74.009447,"{'type': 'Point', 'coordinates': [-74.0094471,..."
2,2,"{'description': '', 'address1': '3525 Eastham ...",None,[],,http://blog.mahalo.com/feed/,http://blog.mahalo.com/,web,"[{'competitor': {'name': 'Topicle', 'permalink...",Thu Jun 14 03:42:20 UTC 2007,...,[],"search, search-engine, human-powered-search, aaa",$21M,MahaloDotCom,Fri May 17 04:34:19 UTC 2013,"[{'embed_code': '<embed src=""http://blip.tv/pl...",21000000.0,34.017606,-118.487267,"{'type': 'Point', 'coordinates': [-118.487267,..."
3,3,"{'description': None, 'address1': '442 Post St...","{'price_amount': None, 'price_currency_code': ...",[],,http://feeds.feedburner.com/kyte_blog,http://kyte.com/blog,games_video,"[{'competitor': {'name': 'Ustream', 'permalink...",Thu Jun 14 18:26:11 UTC 2007,...,[],"video, mobile, iphone-app, video-platform, mob...",$23.4M,kyte,Mon Oct 28 09:34:37 UTC 2013,"[{'embed_code': '<embed src=""http://blip.tv/pl...",23400000.0,37.788482,-122.409173,"{'type': 'Point', 'coordinates': [-122.409173,..."
4,4,"{'description': '', 'address1': '475 Park Ave ...","{'price_amount': 62500000, 'price_currency_cod...",[],,,,mobile,[],Sat Jun 16 05:53:38 UTC 2007,...,[],"directoryassistance, advertising, mobile",$88.7M,Marchex,Mon Jun 03 05:26:22 UTC 2013,[],88700000.0,37.480999,-122.173887,"{'type': 'Point', 'coordinates': [-122.173887,..."

In [588]:
companies_with_coord_offices_clean_final.shape

(2247, 47)

## Filtrando por empresas en las que se ha invertido más de 1.000.000 USD

In [589]:
companies_with_coord_offices_clean_final_2 = companies_with_coord_offices_clean_final[companies_with_coord_offices_clean_final['total_money_raised_normalized_USD']>=1000000][['index', 'office', 'acquisition','category_code', 'deadpooled_year', 'founded_year','funding_rounds', 'investments', 'ipo', 'name', 'number_of_employees', 'products','total_money_raised_normalized_USD', 'lat', 'lng', 'oficina_principal']]
companies_with_coord_offices_clean_final_2.reset_index(inplace=True)

## Exportando a JSON

In [590]:
companies_with_coord_offices_clean_final_2.to_json('data_clean.json', orient="records")

## Exportando a CSV

In [591]:
companies_with_coord_offices_clean_final_2.to_csv('data_clean.csv')

In [592]:
#mongoimport --db companies --collection offices --jsonArray ./data_clean.json

## Geoquery NEAR

In [593]:
def findNear(geopoint, radio_max_meters=1000):
    return db.offices.find({
        "oficina_principal": {
         "$near": {
           "$geometry": geopoint,
           "$maxDistance": radio_max_meters,
         }
       }
    })


# https://developers.google.com/maps/documentation/geocoding/intro
park_avenue_con_21_street = {
    "type":"Point",
    "coordinates":[-73.987308,40.738935]
}
radio_max_meters = 100
num_offices = findNear(park_avenue_con_21_street, radio_max_meters).count()

print(f"Hay {num_offices} oficinas cerca a {radio_max_meters} metros")
print("La mas cercana es")
print(list(findNear(park_avenue_con_21_street, radio_max_meters).limit(1)))

Hay 2 oficinas cerca a 100 metros
La mas cercana es
[{'_id': ObjectId('5d2b67203a1bc86dcd57c152'), 'index': 2405, 'office': {'description': 'SpaBooker Head Office', 'address1': '22 Cortlandt St Floor 18', 'address2': '', 'zip_code': '10007', 'city': 'New York', 'state_code': 'NY', 'country_code': 'USA', 'latitude': 40.738567, 'longitude': -73.987199}, 'acquisition': {'price_amount': None, 'price_currency_code': 'USD', 'term_code': 'stock', 'source_url': 'http://www.spabookerblog.com/2010/11/gramercyone-launched-to-grow-booker.html', 'source_description': 'SpaBooker Blog', 'acquired_year': 2010, 'acquired_month': 10, 'acquired_day': 1, 'acquiring_company': {'name': 'Booker', 'permalink': 'booker-software'}}, 'category_code': 'software', 'deadpooled_year': None, 'founded_year': 2007, 'funding_rounds': [{'id': 10391, 'round_code': 'a', 'source_url': '', 'source_description': '', 'raised_amount': 14500000, 'raised_currency_code': 'USD', 'funded_year': 2011, 'funded_month': 10, 'funded_day': None, 'investments': [{'company': None, 'financial_org': {'name': 'Grotech Ventures', 'permalink': 'grotech-ventures'}, 'person': None}, {'company': {'name': 'HylioSoft', 'permalink': 'hyliosoft'}, 'financial_org': None, 'person': None}, {'company': None, 'financial_org': {'name': 'TDF Fund (Telecommunications Development Fund)', 'permalink': 'tdf-fund-telecommunications-development'}, 'person': None}, {'company': {'name': 'Jubilee Investments', 'permalink': 'jubilee-investments'}, 'financial_org': None, 'person': None}]}, {'id': 47284, 'round_code': 'seed', 'source_url': '', 'source_description': '', 'raised_amount': 200000, 'raised_currency_code': 'USD', 'funded_year': 2008, 'funded_month': 1, 'funded_day': None, 'investments': []}], 'investments': [], 'ipo': None, 'name': 'SpaBooker', 'number_of_employees': 42.0, 'products': [{'name': 'SpaBooker, SalonBooker', 'permalink': 'spabooker-salonbooker'}], 'total_money_raised_normalized_USD': 14700000.0, 'lat': 40.738567, 'lng': -73.987199, 'oficina_principal': {'type': 'Point', 'coordinates': [-73.987199, 40.738567]}}]

/Users/molins/anaconda3/envs/ironhack/lib/python3.7/site-packages/ipykernel_launcher.py:18: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

In [594]:
mapa = folium.Map(location=[40, -45], zoom_start=2.5)
latlng = companies_with_coord_offices_clean_final_2[['lat', 'lng']].values
mapa.add_child(plugins.HeatMap(latlng, radius=20))
mapa

In [595]:
companies_with_coord_offices_clean_final_2.head()

,level_0,index,office,acquisition,category_code,deadpooled_year,founded_year,funding_rounds,investments,ipo,name,number_of_employees,products,total_money_raised_normalized_USD,lat,lng,oficina_principal
0,0,0,"{'description': 'Headquarters', 'address1': '9...","{'price_amount': None, 'price_currency_code': ...",web,None,2006,"[{'id': 6, 'round_code': 'a', 'source_url': ''...",[],None,Geni,18,"[{'name': 'Geni', 'permalink': 'geni'}]",16500000.0,34.090368,-118.393064,"{'type': 'Point', 'coordinates': [-118.393064,..."
1,1,1,"{'description': '', 'address1': '100 5th Ave F...","{'price_amount': None, 'price_currency_code': ...",games_video,None,2006,"[{'id': 19, 'round_code': 'a', 'source_url': '...",[],None,Joost,0,"[{'name': 'Joost', 'permalink': 'joost'}]",45000000.0,40.746497,-74.009447,"{'type': 'Point', 'coordinates': [-74.0094471,..."
2,2,2,"{'description': '', 'address1': '3525 Eastham ...",None,web,None,2007,"[{'id': 323, 'round_code': 'a', 'source_url': ...",[],None,Mahalo,40,"[{'name': 'Mahalo', 'permalink': 'mahalo'}]",21000000.0,34.017606,-118.487267,"{'type': 'Point', 'coordinates': [-118.487267,..."
3,3,3,"{'description': None, 'address1': '442 Post St...","{'price_amount': None, 'price_currency_code': ...",games_video,None,2006,"[{'id': 32, 'round_code': 'a', 'source_url': '...",[],None,Kyte,40,"[{'name': 'Kyte', 'permalink': 'kyte'}, {'name...",23400000.0,37.788482,-122.409173,"{'type': 'Point', 'coordinates': [-122.409173,..."
4,4,4,"{'description': '', 'address1': '475 Park Ave ...","{'price_amount': 62500000, 'price_currency_cod...",mobile,None,2005,"[{'id': 36, 'round_code': 'c', 'source_url': '...",[],None,Jingle Networks,35,"[{'name': 'MyFree411', 'permalink': 'myfree411'}]",88700000.0,37.480999,-122.173887,"{'type': 'Point', 'coordinates': [-122.173887,..."

## Cálculo de la densidad monetaria, que la he definido como dinero invertido en las empresas que se encuentran dentro de un radio dividido por el número total de empresas que se encuentran dentro de dicho radio

In [596]:
def findNear(geopoint, radio_max_meters=1000):
    return db.offices.find({
        "oficina_principal": {
         "$near": {
           "$geometry": geopoint,
           "$maxDistance": radio_max_meters,
         }
       }
    })

In [597]:
near=[]
for i in range(len(companies_with_coord_offices_clean_final_2)):
    near.append(findNear(companies_with_coord_offices_clean_final_2['oficina_principal'][i]).count())

#print(companies_with_coord_offices_clean_final_2['oficina_principal'][1])

/Users/molins/anaconda3/envs/ironhack/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [598]:
near_money=[]
for i in range(len(companies_with_coord_offices_clean_final_2)):
    x= findNear(companies_with_coord_offices_clean_final_2['oficina_principal'][i])#.count()-1)
    total=0
    for j in range(x.count()):
        total+=x[j]['total_money_raised_normalized_USD']
    near_money.append(total)
#print(companies_with_coord_offices_clean_final_2['oficina_principal'][1])

/Users/molins/anaconda3/envs/ironhack/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """

In [599]:
money_density=[]
for i in range(len(near)):
    money_density.append(near_money[i]/near[i])

In [600]:
companies_with_coord_offices_clean_final_2['money_density']=money_density
companies_with_coord_offices_clean_final_2.head()

,level_0,index,office,acquisition,category_code,deadpooled_year,founded_year,funding_rounds,investments,ipo,name,number_of_employees,products,total_money_raised_normalized_USD,lat,lng,oficina_principal,money_density
0,0,0,"{'description': 'Headquarters', 'address1': '9...","{'price_amount': None, 'price_currency_code': ...",web,None,2006,"[{'id': 6, 'round_code': 'a', 'source_url': ''...",[],None,Geni,18,"[{'name': 'Geni', 'permalink': 'geni'}]",16500000.0,34.090368,-118.393064,"{'type': 'Point', 'coordinates': [-118.393064,...",1.650000e+07
1,1,1,"{'description': '', 'address1': '100 5th Ave F...","{'price_amount': None, 'price_currency_code': ...",games_video,None,2006,"[{'id': 19, 'round_code': 'a', 'source_url': '...",[],None,Joost,0,"[{'name': 'Joost', 'permalink': 'joost'}]",45000000.0,40.746497,-74.009447,"{'type': 'Point', 'coordinates': [-74.0094471,...",2.187500e+07
2,2,2,"{'description': '', 'address1': '3525 Eastham ...",None,web,None,2007,"[{'id': 323, 'round_code': 'a', 'source_url': ...",[],None,Mahalo,40,"[{'name': 'Mahalo', 'permalink': 'mahalo'}]",21000000.0,34.017606,-118.487267,"{'type': 'Point', 'coordinates': [-118.487267,...",1.376667e+07
3,3,3,"{'description': None, 'address1': '442 Post St...","{'price_amount': None, 'price_currency_code': ...",games_video,None,2006,"[{'id': 32, 'round_code': 'a', 'source_url': '...",[],None,Kyte,40,"[{'name': 'Kyte', 'permalink': 'kyte'}, {'name...",23400000.0,37.788482,-122.409173,"{'type': 'Point', 'coordinates': [-122.409173,...",2.861771e+07
4,4,4,"{'description': '', 'address1': '475 Park Ave ...","{'price_amount': 62500000, 'price_currency_cod...",mobile,None,2005,"[{'id': 36, 'round_code': 'c', 'source_url': '...",[],None,Jingle Networks,35,"[{'name': 'MyFree411', 'permalink': 'myfree411'}]",88700000.0,37.480999,-122.173887,"{'type': 'Point', 'coordinates': [-122.173887,...",6.635000e+07

## Ordenando el dataframe por la densidad monetaria

In [601]:
companies_with_coord_offices_clean_final_2 = companies_with_coord_offices_clean_final_2.sort_values(by='money_density',ascending=False).drop(['level_0','index'],axis=1)

In [602]:
companies_with_coord_offices_clean_final_2.reset_index(drop=True, inplace=True)
companies_with_coord_offices_clean_final_2.head()

,office,acquisition,category_code,deadpooled_year,founded_year,funding_rounds,investments,ipo,name,number_of_employees,products,total_money_raised_normalized_USD,lat,lng,oficina_principal,money_density
0,"{'description': '', 'address1': '1051 East Hil...",None,software,None,2007,"[{'id': 1763, 'round_code': 'a', 'source_url':...",[],None,Zuora,250,[],128000000.0,37.559628,-122.270987,"{'type': 'Point', 'coordinates': [-122.2709868...",3.196667e+08
1,"{'description': 'Elevance Renewable', 'address...",None,cleantech,None,2007,"[{'id': 6041, 'round_code': 'a', 'source_url':...",[],None,Elevance Renewable Sciences,68,[],294000000.0,41.675004,-88.064215,"{'type': 'Point', 'coordinates': [-88.0642145,...",2.940000e+08
2,"{'description': None, 'address1': '130 West Un...",None,cleantech,None,2007,"[{'id': 2102, 'round_code': 'b', 'source_url':...",[],None,eSolar,140,[],192000000.0,34.146436,-118.153136,"{'type': 'Point', 'coordinates': [-118.153136,...",1.920000e+08
3,"{'description': 'TestPlant', 'address1': '3000...",None,software,None,2008,"[{'id': 7135, 'round_code': 'unattributed', 's...",[],None,Testplant,50,"[{'name': 'eggPlant', 'permalink': 'eggplant'}]",2560000.0,40.023005,-105.253284,"{'type': 'Point', 'coordinates': [-105.2532841...",1.797800e+08
4,"{'description': '', 'address1': '1500 Fashion ...",None,web,None,2007,"[{'id': 634, 'round_code': 'a', 'source_url': ...",[],None,SpeedDate,0,"[{'name': 'SpeedDate.com', 'permalink': 'speed...",11600000.0,37.557637,-122.285714,"{'type': 'Point', 'coordinates': [-122.285714,...",1.330586e+08

In [603]:
companies_with_coord_offices_clean_final_2['office'][100]

{'description': 'United States',
 'address1': '300 De Haro St',
 'address2': 'South Train',
 'zip_code': '94103',
 'city': 'San Francisco',
 'state_code': 'CA',
 'country_code': 'USA',
 'latitude': 37.787204,
 'longitude': -122.397884}

In [604]:
young_companies=[]
for i in range(len(companies_with_coord_offices_clean_final_2)):
    x= findNear(companies_with_coord_offices_clean_final_2['oficina_principal'][i])#.count()-1)
    young=0
    for j in range(x.count()):
        if x[j]['founded_year']>=2010:
            young+=1
    young_companies.append(young)
#print(companies_with_coord_offices_clean_final_2['oficina_principal'][1])

/Users/molins/anaconda3/envs/ironhack/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """

In [605]:
young_companies.count(2)

9

In [606]:
companies_with_coord_offices_clean_final_2['young_companies']=young_companies

## Haciendo ranking ponderando con un 75% a la densidad monetaria y con un 25% a la cercanía de empresas jóvenes.

In [607]:
max_comp = companies_with_coord_offices_clean_final_2['young_companies'].max()
max_mon_den = companies_with_coord_offices_clean_final_2['money_density'].max()

In [608]:
ranking=[]
for i in range(len(companies_with_coord_offices_clean_final_2['young_companies'])):
    ranking.append((companies_with_coord_offices_clean_final_2['money_density'][i]/max_mon_den)*0.75+ (companies_with_coord_offices_clean_final_2['young_companies'][i]/max_comp)*0.25)

In [609]:
companies_with_coord_offices_clean_final_2['ranking']=ranking

In [610]:
companies_with_coord_offices_clean_final_2 = companies_with_coord_offices_clean_final_2.sort_values(by=['ranking','money_density','young_companies'],ascending=[False,False,False])

In [611]:
companies_with_coord_offices_clean_final_2 = companies_with_coord_offices_clean_final_2[companies_with_coord_offices_clean_final_2['ranking']>=0.164229].reset_index()
companies_with_coord_offices_clean_final_2.head()

,index,office,acquisition,category_code,deadpooled_year,founded_year,funding_rounds,investments,ipo,name,number_of_employees,products,total_money_raised_normalized_USD,lat,lng,oficina_principal,money_density,young_companies,ranking
0,0,"{'description': '', 'address1': '1051 East Hil...",None,software,None,2007,"[{'id': 1763, 'round_code': 'a', 'source_url':...",[],None,Zuora,250,[],128000000.0,37.559628,-122.270987,"{'type': 'Point', 'coordinates': [-122.2709868...",3.196667e+08,0,0.750000
1,1,"{'description': 'Elevance Renewable', 'address...",None,cleantech,None,2007,"[{'id': 6041, 'round_code': 'a', 'source_url':...",[],None,Elevance Renewable Sciences,68,[],294000000.0,41.675004,-88.064215,"{'type': 'Point', 'coordinates': [-88.0642145,...",2.940000e+08,0,0.689781
2,2,"{'description': None, 'address1': '130 West Un...",None,cleantech,None,2007,"[{'id': 2102, 'round_code': 'b', 'source_url':...",[],None,eSolar,140,[],192000000.0,34.146436,-118.153136,"{'type': 'Point', 'coordinates': [-118.153136,...",1.920000e+08,0,0.450469
3,3,"{'description': 'TestPlant', 'address1': '3000...",None,software,None,2008,"[{'id': 7135, 'round_code': 'unattributed', 's...",[],None,Testplant,50,"[{'name': 'eggPlant', 'permalink': 'eggplant'}]",2560000.0,40.023005,-105.253284,"{'type': 'Point', 'coordinates': [-105.2532841...",1.797800e+08,0,0.421799
4,4,"{'description': '', 'address1': '1500 Fashion ...",None,web,None,2007,"[{'id': 634, 'round_code': 'a', 'source_url': ...",[],None,SpeedDate,0,"[{'name': 'SpeedDate.com', 'permalink': 'speed...",11600000.0,37.557637,-122.285714,"{'type': 'Point', 'coordinates': [-122.285714,...",1.330586e+08,0,0.312181

In [612]:
mapa = folium.Map(location=[40, -45], zoom_start=2.5)
latlng = companies_with_coord_offices_clean_final_2[['lat', 'lng']].values
mapa.add_child(plugins.HeatMap(latlng, radius=20))
mapa

## Usando API Google para encontrar Starbucks en un radio de 100 metros

starbucks=[]
for i in range(len(companies_with_coord_offices_clean_final_2)):
    lat = companies_with_coord_offices_clean_final_2['lat'][i]
    lng = companies_with_coord_offices_clean_final_2['lng'][i]
    radio = 50
    places=req.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius={}&keyword={}&key={}'.format(str(lat),str(lng),str(radio),'starbucks',api_key)).json()
    starbucks.append(len(places['results']))

In [622]:
companies_with_coord_offices_clean_final_2['starbucks']=starbucks

In [624]:
companies_with_coord_offices_clean_final_2=companies_with_coord_offices_clean_final_2[companies_with_coord_offices_clean_final_2['starbucks']!=0].reset_index(drop=True)

In [646]:
companies_with_coord_offices_clean_final_2.shape

(41, 20)

In [638]:
kinder_garden=[]
for i in range(len(companies_with_coord_offices_clean_final_2)):
    lat = companies_with_coord_offices_clean_final_2['lat'][i]
    lng = companies_with_coord_offices_clean_final_2['lng'][i]
    radio = 2000
    places=req.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius={}&keyword={}&key={}'.format(str(lat),str(lng),str(radio),'kinder garden',api_key)).json()
    kinder_garden.append(len(places['results']))

schools=[]
for i in range(len(companies_with_coord_offices_clean_final_2)):
    lat = companies_with_coord_offices_clean_final_2['lat'][i]
    lng = companies_with_coord_offices_clean_final_2['lng'][i]
    radio = 2000
    places=req.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius={}&keyword={}&key={}'.format(str(lat),str(lng),str(radio),'school',api_key)).json()
    schools.append(len(places['results']))

In [642]:
companies_with_coord_offices_clean_final_2

,index,office,acquisition,category_code,deadpooled_year,founded_year,funding_rounds,investments,ipo,name,number_of_employees,products,total_money_raised_normalized_USD,lat,lng,oficina_principal,money_density,young_companies,ranking,starbucks
0,0,"{'description': '', 'address1': '1051 East Hil...",None,software,None,2007,"[{'id': 1763, 'round_code': 'a', 'source_url':...",[],None,Zuora,250,[],128000000.0,37.559628,-122.270987,"{'type': 'Point', 'coordinates': [-122.2709868...",3.196667e+08,0,0.750000,1
1,2,"{'description': None, 'address1': '130 West Un...",None,cleantech,None,2007,"[{'id': 2102, 'round_code': 'b', 'source_url':...",[],None,eSolar,140,[],192000000.0,34.146436,-118.153136,"{'type': 'Point', 'coordinates': [-118.153136,...",1.920000e+08,0,0.450469,1
2,3,"{'description': 'TestPlant', 'address1': '3000...",None,software,None,2008,"[{'id': 7135, 'round_code': 'unattributed', 's...",[],None,Testplant,50,"[{'name': 'eggPlant', 'permalink': 'eggplant'}]",2560000.0,40.023005,-105.253284,"{'type': 'Point', 'coordinates': [-105.2532841...",1.797800e+08,0,0.421799,1
3,4,"{'description': '', 'address1': '1500 Fashion ...",None,web,None,2007,"[{'id': 634, 'round_code': 'a', 'source_url': ...",[],None,SpeedDate,0,"[{'name': 'SpeedDate.com', 'permalink': 'speed...",11600000.0,37.557637,-122.285714,"{'type': 'Point', 'coordinates': [-122.285714,...",1.330586e+08,0,0.312181,1
4,141,"{'description': '', 'address1': '300 S Ellswor...",None,advertising,None,2007,"[{'id': 19708, 'round_code': 'b', 'source_url'...",[],None,Inneractive,0,"[{'name': 'InFlare', 'permalink': 'inflare'}]",8500000.0,37.564605,-122.322924,"{'type': 'Point', 'coordinates': [-122.3229235...",2.295000e+07,2,0.303845,1
5,143,"{'description': '', 'address1': '950 Tower Lan...",None,advertising,None,2005,"[{'id': 172, 'round_code': 'a', 'source_url': ...",[],None,Conduit,215,"[{'name': 'Conduit Mobile', 'permalink': 'cond...",110000000.0,37.561877,-122.325248,"{'type': 'Point', 'coordinates': [-122.325248,...",2.295000e+07,2,0.303845,1
6,144,"{'description': '', 'address1': '330 Waverley ...",None,mobile,None,2012,"[{'id': 1760, 'round_code': 'angel', 'source_u...",[],None,Skydeck,9,"[{'name': 'Skydeck', 'permalink': 'skydeck'}]",4000000.0,37.564538,-122.325470,"{'type': 'Point', 'coordinates': [-122.3254705...",2.295000e+07,2,0.303845,1
7,7,"{'description': 'Headquarters', 'address1': '2...",None,advertising,None,2006,"[{'id': 9570, 'round_code': 'c', 'source_url':...",[],"{'valuation_amount': 973500000, 'valuation_cur...",Millennial Media,137,[],240000000.0,39.281734,-76.581864,"{'type': 'Point', 'coordinates': [-76.581864, ...",1.259000e+08,0,0.295386,1
8,395,"{'description': 'Headquarters', 'address1': '1...",None,travel,None,2010,"[{'id': 5948, 'round_code': 'seed', 'source_ur...",[],None,UsingMiles,15,[],3270000.0,39.749671,-104.999845,"{'type': 'Point', 'coordinates': [-104.9998449...",3.270000e+06,2,0.257672,3
9,396,"{'description': 'Headquarters', 'address1': '1...",None,travel,None,2010,"[{'id': 5948, 'round_code': 'seed', 'source_ur...",[],None,UsingMiles,15,[],3270000.0,39.749671,-104.999845,"{'type': 'Point', 'coordinates': [-104.9998449...",3.270000e+06,2,0.257672,3
10,11,"{'description': '', 'address1': '55 Washington...",None,ecommerce,None,2005,"[{'id': 1234, 'round_code': 'angel', 'source_u...",[],None,Etsy,300,[],91700000.0,40.694731,-73.983268,"{'type': 'Point', 'coordinates': [-73.983268, ...",9.170000e+07,0,0.215146,2
11,89,"{'description': 'HQ', 'address1': '795 Folsom ...",None,web,None,2007,"[{'id': 3610, 'round_code': 'angel', 'source_u...",[],None,Reframe It,10,"[{'name': 'Browser Extension', 'permalink': 'b...",3180000.0,37.782163,-122.400591,"{'type': 'Point', 'coordinates': [-122.400591,...",2.821638e+07,1,0.191201,2
12,91,"{'description': '', 'address1': '425 Bush Stre...","{'price_amount': 10000000, 'price_currency_cod...",web,None,2005,"[{'id': 121, 'round_code': 'a', 'source_url': ...",[],None,Bebo,0,"[{'name': 'Bebo', 'permalink': 'bebo'}]",15000000.0,37.782103,-122.401116,"{'type': 'Point', 'coordinates': [-122.401116,...",2.821022e+07,1,0.191187,2
13,118,"{'description': 'New York office', 'address1':...",None,cleantech,None,2005,"[{'id': 6609, 'round_code': 'unattributed', 's...",[],None,Optimum Energy,65,[],21200000.0,40.751892,-73.987592,"{'type': 'Point', 'coordinates': [-73.9875922,...",2.621704e+07,1,0.186510,7
14,123,"{'description': '', 'address1': '785 Market St...","{'price_amount': None, 'price_currency_code': ...",mobile,None,2007,"[{'id': 2437, 'round_code': 'a', 'source_url':...",[],None,Transpera,20,[],19500000.0,37.785792,-122.405081,"{'type': 'Point', 'coordinates': [-122.405081,...",2.514955e+07,1,0.184006,7
15,126,"{'description': 'New York (HQ)', 'address1': '...",None,advertising,None,2009,"[{'id': 7090, 'round_code': 'a', 'source_url':...",[],None,Cognitive Match,40,[],10200000.0,40.745410,-73.982221,"{'type': 'Point', 'coordinates': [-73.9822211,...",2.488192e+07,1,0.183378,1
16,128,"{'description': '', 'address1': '160 Madison A...",None,web,None,2006,"[{'id': 1711, 'round_code': 'a', 'source_url':...",[],None,Tripology,9,"[{'name': 'Tripology', 'permalink': 'tripology'}]",1250000.0,40.746883,-73.983969,"{'type': 'Point', 'coordinates': [-73.983969, ...",2.447821e+07,1,0.182431,5
17,139,"{'description': 'HQ', 'address1': '3 W 18th', ...",None,web,None,2010,"[{'id': 13858, 'round_code': 'seed', 'source_u...",[],None,Yipit,23,"[{'name': 'Yipit Shop', 'permalink': 'yipit-sh...",7550000.0,40.744618,-73.987764,"{'type': 'Point', 'coordinates': [-73.987764, ...",2.308314e+07,1,0.179158,3
18,140,"{'description': 'Corporate Headquarters', 'add...",None,games_video,None,2006,"[{'id': 16927, 'round_code': 'a', 'source_url'...",[],None,Saavn,25,"[{'name': 'Saavn.com', 'permalink': 'saavn-com...",6000000.0,40.743877,-73.986180,"{'type': 'Point', 'coordinates': [-73.98618, 4...",2.308314e+07,1,0.179158,2
19,151,"{'description': '', 'address1': '22 W 21st St'...","{'price_amount': None, 'price_currency_code': ...",web,None,2007,"[{'id': 1753, 'round_code': 'a', 'source_url':...",[],None,Next New Networks,121,"[{'name': 'NextNewNetworks', 'permalink': 'nex...",27100000.0,40.743808,-73.983626,"{'type': 'Point', 'coordinates': [-73.983626, ...",2.250500e+07,1,0.177801,3
20,152,"{'description': 'Headquarters', 'address1': '1...",None,software,None,2007,"[{'id': 33354, 'round_code': 'b', 'source_url'...",[],None,PEX Card,11,"[{'name': 'PEX Card', 'permalink': 'pex-card'}]",5700000.0,40.752539,-73.987871,"{'type': 'Point', 'coordinates': [-73.987871, ...",2.223040e+07,1,0.177157,7
21,180,"{'description': 'New York Office', 'address1':...","{'price_amount': 86000000, 'price_currency_cod...",advertising,None,2005,"[{'id': 224, 'round_code': 'a', 'source_url': ...",[],None,ScanScout,40,"[{'name': 'ScanScout', 'permalink': 'scanscout'}]",17500000.0,40.739833,-73.993158,"{'type': 'Point', 'coordinates': [-73.993158, ...",1.800690e+07,1,0.167248,3
22,181,"{'description': 'Worldwide HQ', 'address1': '3...",None,games_video,None,2005,"[{'id': 11711, 'round_code': 'unattributed', '...",[],None,Cellufun,30,[],5230000.0,40.739930,-73.993049,"{'type': 'Point', 'coordinates': [-73.9930489,...",1.800690e+07,1,0.167248,3
23,182,"{'description': '', 'address1': '17 W 18th St'...","{'price_amount': None, 'price_currency_code': ...",ecommerce,None,2005,"[{'id': 3230, 'round_code': 'a', 'source_url':...",[],None,ShopWiki,25,"[{'name': 'www.shopwiki.com', 'permalink': 'ww...",6250000.0,40.740441,-73.993376,"{'type': 'Point', 'coordinates': [-73.993376, ...",1.800690e+07,1,0.167248,3
24,183,"{'description': '', 'address1': '54 West 21st....","{'price_amount': 80000000, 'price_currency_cod...",web,None,2007,"[{'id': 5311, 'round_code': 'a', 'source_url':...",[],None,Hunch,23,[],19200000.0,40.741179,-73.993182,"{'type': 'Point', 'coordinates': [-73.993182, ...",1.800690e+07,1,0.167248,4
25,184,"{'description': '', 'address1': '17 W 18th St'...","{'price_amount': None, 'price_currency_code': ...",ecommerce,None,2005,"[{'id': 3230, 'round_code': 'a', 'source_url':...",[],None,ShopWiki,25,"[{'name': 'www.shopwiki.com', 'permalink': 'ww...",6250000.0,40.740441,-73.993376,"{'type': 'Point', 'coordinates': [-73.993376, ...",1.800690e+07,1,0.167248,3
26,191,"{'description': 'New York Office (HQ)', 'addre...",None,advertising,None,2005,"[{'id': 1077, 'round_code': 'b', 'source_url':...",[],None,Yodle,1000,"[{'name': 'Yodle', 'permalink': 'yodle'}]",40000000.0,40.742459,-73.991813,"{'type': 'Point', 'coordinates': [-73.9918126,...",1.718581e+07,1,0.165321,6
27,192,"{'description': '', 'address1': '9606 S. Santa...","{'price_amount': None, 'price_currency_code': ...",games_video,None,2011,"[{'id': 2262, 'round_code': 'a', 'source_url':...",[],None,Social Gaming Network,100,"[{'name': 'iBaseball', 'permalink': 'ibaseball...",17100000.0,34.069849,-118.405418,"{'type': 'Point', 'coordinates': [-118.4054182...",1.710000e+07,1,0.165120,1
28,194,"{'description': '', 'address1': '49 W 27th St ...",None,web,None,2008,"[{'id': 7094, 'round_code': 'a', 'source_url':...",[],None,StyleCaster,60,[],5000000.0,40.745050,-73.990098,"{'type': 'Point', 'coordinates': [-73.9900984,...",1.708818e+07,1,0.165092,5
29,195,"{'description': 'US Office', 'address1': '1133...",None,software,None,2007,"[{'id': 13293, 'round_code': 'a', 'source_url'...",[],None,iPharro Media,17,"[{'name': 'iPharro MediaSeeker', 'permalink': ...",5180000.0,40.743836,-73.989015,"{'type': 'Point', 'coordinates': [-73.9890149,...",1.708818e+07,1,0.165092,5
30,200,"{'description': '', 'address1': '', 'address2'...",None,advertising,None,2008,"[{'id': 5900, 'round_code': 'a', 'source_url':...",[],None,Medialets,60,[],28400000.0,37.775196,-122.419204,"{'type': 'Point', 'coordinates': [-122.419204,...",1.672600e+07,1,0.164242,1
31,201,"{'description': '', 'address1': '275 Brannan S...",None,software,None,2008,"[{'id': 31160, 'round_code': 'a', 'source_url'...",[],None,GitHub,106,"[{'name': 'Gist', 'permalink': 'gist'}]",100000000.0,37.775196,-122.419204,"{'type': 'Point', 'coordinates': [-122.419204,...",1.672600e+07,1,0.164242,1
32,202,"{'description': 'HQ', 'address1': '121 2nd Str...",None,mobile,None,2008,"[{'id': 13792, 'round_code': 'a', 'source_url'...",[],None,Stitcher,17,"[{'name': 'Stitcher iPhone Application', 'perm...",18700000.0,37.775196,-122.419204,"{'type': 'Point', 'coordinates': [-122.419204,...",1.672600e+07,1,0.164242,1
33,203,"{'description': '', 'address1': '1550 Bryant S...","{'price_amount': None, 'price_currency_code': ...",web,None,2007,"[{'id': 1164, 'round_code': 'a', 'source_url':...",[],None,Seesmic,13,"[{'name': 'Seesmic', 'permalink': 'seesmic'}, ...",16000000.0,37.775196,-122.419204,"{'type': 'Point', 'coordinates': [-122.419204,...",1.672600e+07,1,0.164242,1
34,204,"{'description': 'AdRocket Headquarters', 'addr...",None,advertising,None,2008,"[{'id': 3276, 'round_code': 'seed', 'source_ur...",[],None,AdRocket,5,[],1000000.0,37.775196,-122.419204,"{'type': 'Point', 'coordinates': [-122.419204,...",1.672600e+07,1,0.164242,1
35,205,"{'description': 'AdRocket Headquarters', 'addr...",None,advertising,None,2008,"[{'id': 3276, 'round_code': 'seed', 'source_ur...",[],None,AdRocket,5,[],1000000.0,37.775196,-122.419204,"{'type': 'Point', 'coordinates': [-122.419204,...",1.672600e+07,1,0.164242,1
36,206,"{'description': '', 'address1': '', 'address2'...","{'price_amount': 10000000, 'price_currency_cod...",web,None,2008,"[{'id': 2800, 'round_code': 'seed', 'source_ur...",[],None,Posterous,9,[],10100000.0,37.775196,-122.419204,"{'type': 'Point', 'coordinates': [-122.419204,...",1.672600e+07,1,0.164242,1
37,207,"{'description': 'SpaBooker Head Office', 'addr...","{'price_amount': None, 'price_currency_code': ...",software,None,2007,"[{'id': 10391, 'round_code': 'a', 'source_url'...",[],None,SpaBooker,42,"[{'name': 'SpaBooker, SalonBooker', 'permalink...",14700000.0,40.738567,-73.987199,"{'type': 'Point', 'coordinates': [-73.987199, ...",1.672031e+07,1,0.164229,3
38,208,"{'description': 'East Coast', 'address1': '16 ...",None,ecommerce,None,2008,"[{'id': 3397, 'round_code': 'angel', 'source_u...",[],None,InnerRewards,9,[],1000000.0,40.741594,-73.990468,"{'type': 'Point', 'coordinates': [-73.990468, ...",1.672031e+07,1,0.164229,5
39,209,"{'description': 'East Coast', 'address1': '16 ...",None,ecommerce,None,2008,"[{'id': 3397, 'round_code': 'angel', 'source_u...",[],None,InnerRewards,9,[],1000000.0,40.741594,-73.990468,"{'type': 'Point', 'coordinates': [-73.990468, ...",1.672031e+07,1,0.164229,5
40,210,"{'description': None, 'address1': '110 E. 23rd...",None,software,None,2005,"[{'id': 1675, 'round_code': 'b', 'source_url':...",[],None,Phreesia,70,[],42700000.0,40.739794,-73.985878,"{'type': 'Point', 'coordinates': [-73.985878, ...",1.672031e+07,1,0.164229,4

In [548]:
companies_with_coord_offices_clean_final_2['kinder_garden']=kinder_garden

In [549]:
#companies_with_coord_offices_clean_final_2=companies_with_coord_offices_clean_final_2[companies_with_coord_offices_clean_final_2['kinder_garden']!=0].reset_index(drop=True)

In [550]:
companies_with_coord_offices_clean_final_2.shape

(18, 22)